h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Corben', Georgia, Times, serif;
}

p,
div {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    font-size: 10px;
}

/* body {
    background: url(/img/stripes-light.png) repeat 0 0;
} */

.btn {
    border: none;
    background-color: inherit;
    font-size: 16px;
    padding: 28px;
    cursor: pointer;
    display: inline-block;
    color: #A3A2A6;

}

.btn:hover {
    background: #2a3034;
}

.top-bar {
    background-color: #212529;
    padding-left: 50px;
}

.btn {
    display: inline-block;
    width: 24%;
    text-align: center;
}

.main {
    text-align: center;
    padding: 5px;
}

.main {
    border-bottom: 1px solid #2C2A2F;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #2C2A2F;
}

.left .class-names {
    background-color: #19171D;
    height: 100vh;
}

.left .class-names .c-name>p {
    text-indent: 20px;
    font-size: 10px;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;

    background-color: #19171D;
}

.right .members {
    margin: 2%;
    background-color: #19171D;
    height: 100vh;
}

.right .members #m-name {
    padding: 10px;
    color: #A3A2A6;
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    font-size: 12px;
    overflow: auto;
}

textarea {
    width: 70%;
    position: absolute;
    margin-left: 250px;
    bottom: 30px;
}

#sendMessage {
    display: flex;
}

#messColumn {
    background-color: #222529;
    border-radius: 5px;
    width: 60%;
    margin: 10px;
}

#comment {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 35px;
    margin-right: 17.5%;
    width: 50px;
    height: 50px;
}

input[type='button'] {
    width: 100%;
    height: 50px;
    background-color: #19171D;
    color: #A3A2A6;
    border: none;
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.buttn:hover {
    background: #26242B;
}

.members {
    background-color: #19171D;
}

.msg-bod {
    display: flex;
    width: 300px;
    height: 80px;
    height: 100%;
    width: 100%;
}

#content {
    width: 80%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    height: 70%;
    overflow: auto;
}

.msg-line {
    padding: 20px;
    margin: 10px;
    width: 20%;
    background-color: #2C2A2F;
    border-radius: 5px;
    color: #A3A2A6;
}

.class-body {
    flex: 5;
    display: flex;
    flex-direction: column;
}

.message-body {
    display: flex;
}

.written {
    flex: 5;
    display: flex;
    flex-direction: column;
}

#curChannel {
    color: white
}

#curClass {
    color: white;
}