h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Corben', Georgia, Times, serif;
}

p,
div {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    font-size: 10px;
}

/* body {
    background: url(/img/stripes-light.png) repeat 0 0;
} */

.btn {
    border: none;
    background-color: inherit;
    font-size: 16px;
    padding: 28px;
    cursor: pointer;
    display: inline-block;
    color:#A3A2A6;

}

.btn:hover {
    background: #26242B;
}

.top-bar {
    background-color:#19171D;
    padding-left: 50px;
}

.btn {
    display: inline-block;
    width: 24%;
    text-align: center;
}

.main {
    text-align: center;
    padding: 5px;
}

.main{
    border-bottom: 1px solid #2C2A2F;
}
.left{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #2C2A2F;
}

.left .class-names{
    background-color: #19171D;
    height: 100vh;
}
.left .class-names .c-name>p {
    text-indent: 20px;
    font-size: 10px;
}
.right{
    flex: 2;
    display: flex;
    flex-direction: column;
   
    /* background-color:  #19171D; */
}

.right .members{
    margin: 2%;
    border-left: 1px solid #2C2A2F;
    background-color: #19171D;
    border-radius: 10px;
}
.right .members .m-name>p {
    padding: 10px;
    color: #A3A2A6;
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    font-size: 12px;
}

textarea {
    width: 70%;
    position: absolute;
    margin-left: 250px;
    bottom: 30px;
}

#sendMessage {
    width: 30%;
    height: 50px;
    line-height: 50px;
}

#messColumn {
    width: 500px;
    height: 100px;
    position: absolute;
    bottom: 0;
    margin-left: 22%;
}

#comment {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 0px;
    margin-right: 23%;
    width: 150px;
    height: 100px;
}
input[type = 'button']{
    width: 100%;
    height: 50px;
    background-color: #19171D;
    color: #A3A2A6;
    border: none;
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    font-size: 12px;
}
.buttn:hover{
    background: #26242B;
}
.members{
    background-color: #19171D;
}
.msg-bod{
    display: flex;
    width: 300px;
    height: 80px;
    height: 100%;
    width: 100%;
}
#content{
    width: 60%;
    display:flex;
    flex-direction: column;
}
.msg-line{
    padding: 20px;
    margin: 10px;
    width: 20%;
    background-color: #2C2A2F;
    border-radius: 5px;
    color:#A3A2A6;
}