body {
    background: cornflowerblue;
    height: 1600px;
 }
  
 .calendar{
    background-color:white;
    width: 1000px;
    height: 950px;
    border-radius: 15px;
    margin: 0px auto;
    margin-top: 50px;
    text-align: center;
    color:darkgreen
 }
  
 .date {
    width:1000px;
    height: 550px;
    background:white;
    border-radius:10px;
 }
  
 .time{
    width: 1000px;
    display:block;
    margin: 0px auto;
    padding:30px;
    font-size: 20px;
 }
  
 .span{
    float:left;
    margin-right: 10px;
    display:block;
 }
  
 .h2{
    float:left;
    margin:0px;
    padding:0px;
 }
  
 .week{
    margin:0px auto;
    font-size:25px;
    display:block;
    width:1000px;
    height:100px;
    clear:both;
 }
  
 .week ul{
    list-style:none;
    margin: 0px;
    padding-left:10px;
    padding-right:10px;
   
 }
  
 .week ul li{
    float:left;
    width:118px;
    height: 40px;
    line-height: 40px;
    text-align:center;
    margin:10px;
 }
  
 .days{
    margin:0px auto;
  
 }
  
 .days ul{
    margin: 0px auto;
    list-style:none;
    padding:10px;
    width:1070px;
  
 }
  
 .days ul li{
    float: left;
    width:135px;
    height: 135px;
    line-height:135px;
    font-size:18px;
    text-align:center;
    margin:2px;
 }
  
 .assignment-day{
    float: left;
    width:135px;
    height: 135px;
    line-height:135px;
    font-size:18px;
    font-weight: 500 !important;
    text-align:center;
    margin:2px;
    background:crimson;
    color:white !important;
 }
  
 .assignment-day:hover{
    background: rgb(135, 177, 158);
    cursor:pointer;
 }
  
 .days ul li:hover, .days ul li:active{
    background: rgb(135, 177, 158);
    cursor:pointer;
 }
  
 .todays-date{
    width: 900px;
    height: 80px;
    display:block;
    margin: 0px auto;
    background: coral;
    clear:both;
    border-radius: 15px;
    padding-top:50px;
    color: white;
    text-align:center;
    font-size:30px;
 }
  
 .assignments{
    background:red;
    float:left;
    color:blue;
    width: 350px;
    height:550px;
   
 }
  
 .title{
    width:100%;
    text-align:center;
    color:darkred;
    font-size: 20px !important;
 }
  
 .title ul{
    list-style:none;
    width:800px;
    margin: 0px auto;
    text-align: left;
    padding:10px;
  
 }
  
 .title ul li{
    list-style:none;
    text-align: left;
    color:darkred;
    display:block;
    border-bottom: 1px dashed darkred;
   
 }
 .title ul li:hover{
    cursor:pointer;
   
 }
  
 
 